<!-- 

  <div class="row">
   <div class="col-12 col-xl-8">
      <div class="card card-body border-0 shadow mb-4">
         <h2 class="h5 mb-4">Modifier les coordonées de l'university</h2>
         <form class="form-group" #form="ngForm">
            <div class="row">
               
            <div class="col-md-6 mb-3">
               <div><label for="UnivName">University Name</label> <input class="form-control " type="text"
                     placeholder="Enter University name" name="nomUniv" [(ngModel)]="univ.nomUniv">
               </div> 
            </div>
              
              
            </div>
            

              

                 <div class="col-md-6 mb-3">
                  <div><label for="emailUniv" > University email</label> <input class="form-control " type="text"
                        placeholder="xxx@gmail.com"  name="emailUniv"  [(ngModel)]="univ.emailUniv">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                
               </div>

               <div class="col-md-6 mb-3">
                  <div class="form-group"><label for="phoneUniv">Numero de telephone</label>
                      <input class="form-control"  type="number" placeholder="+216 71453624 " name="phoneUniv" [(ngModel)]="univ.phoneUniv"></div>
               </div>
               <div *ngIf="myForm.get('phoneUniv').errors['minLength']" class="alert alert-danger" role="alert">
                  le numéro de téléphone doit étre 8 numéro

               </div>
                  <div *ngIf="myForm.get('phoneUniv').errors['maxLength']" class="alert alert-danger" role="alert" >
                     le numéro de téléphone doit étre 8 numéro

                  </div>
               
               
               <div *ngIf="myForm.get('phoneUniv').errors['pattern']" class="alert alert-danger" role="alert">
                  le numéro de téléphone doit étre 8 numéro
                </div>
           
              
               <div class="col-sm-4 mb-3">
                  <label class="my-1 me-2" for="univCategories">Categorie</label> 
                  <select class="form-select" id="univCategories" aria-label="Default select example" [(ngModel)]="univ.univCategories">
                     <option value="Etatique">Etatique</option>
                     <option value="Privee">Privé</option>

                  </select>
               </div>
              
               <button  class="btn btn-block btn-gray-800 mb-3" (click)="onSubmit()" >Update</button>

               </form>
            </div>   -->
           
       
                 <!-- <div class="col-lg-4">
                    <button type="button" class="btn btn-block btn-gray-800 mb-3" (click)="onSubmit()">Update</button>
                     -->

                     <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card mb-4">
                                    <h5 class="card-header section-title" class="section-title" >Update University </h5>
                                    <div class="card-body">
                                        <form #form="ngForm">
                                            <div>
                                             <div class="col-md-6 mb-3">
                                                <label for="defaultFormControlInput" class="form-label">University name</label>
                                                <input type="text" name="nomUniv" id="nomUniv" class="form-control" [(ngModel)]="univ.nomUniv" minlength="3" required #nomUniv="ngModel" [ngClass]="{'is-valid':(univ.nomUniv), 'is-invalid':(univ.nomUniv)}">
                                                <div class="text-danger" *ngIf="nomUniv.invalid && nomUniv.touched">
                                                    <div *ngIf="nomUniv.hasError('required')">
                                                        field is required
                                                    </div>
                                                    <div *ngIf="nomUniv.hasError('minlength')">
                                                        minlength
                                                    </div>
                                                </div>
                                            </div>
                                          </div>


                                            <div class="col-md-6 mb-3">
                                            <div>
                                             <label for="defaultFormControlInput" class="form-label">University email</label>
                                             <input type="text" name="emailUniv" id="emailUniv" class="form-control" [(ngModel)]="univ.emailUniv"  required #emailUniv="ngModel" [ngClass]="{'is-valid':(univ.emailUniv), 'is-invalid':(univ.emailUniv)}">
                                             <div class="text-danger" *ngIf="emailUniv.invalid && emailUniv.touched">
                                                 <div *ngIf="emailUniv.hasError('required')">
                                                     field is required
                                                 </div>
                           
                                             </div>
                                            </div>
                                         </div>

                                         <div class="col-md-6 mb-3">
                                          <div><label for="defaultFormControlInput" class="form-label">Numero de telephone</label>
                                              <input class="form-control"   type="number" placeholder="+216 71453624 " name="phoneUniv" id="phoneUniv" minlength ="8" maxlength="8" pattern="[0-9]*" [(ngModel)]="univ.phoneUniv" required #phoneUniv="ngModel" [ngClass]="{'is-valid':(univ.phoneUniv),'is-invalid':(univ.phoneUniv)}"></div>
                                       </div>
                                       <div *ngIf="phoneUniv.hasError('required')">
                                          field is required
                                      </div>
                                      <div *ngIf="phoneUniv.hasError('minlength')">
                                       le numéro de téléphone doit étre 8 numéro
                                      </div>
                                      <div *ngIf="phoneUniv.hasError('maxlength')">
                                       le numéro de téléphone doit étre 8 numéro
                                      </div>
                                      <div *ngIf="phoneUniv.hasError('pattern')">
                                       le numéro de téléphone doit étre 8 numéro
                                      </div>

                                    <div class="col-md-6 mb-3">
                                      <div>
                                       <label for="defaultFormControlInput" class="form-label">University Adress</label>
                                       <input type="text" name="adresseUniv" id="adresseUniv" class="form-control" [(ngModel)]="univ.adresseUniv" required #adressUniv="ngModel" [ngClass]="{'is-valid':(univ.adresseUniv), 'is-invalid':(univ.adresseUniv)}">
                                       <div class="text-danger" *ngIf="adressUniv.invalid && adressUniv.touched">
                                           <div *ngIf="adressUniv.hasError('required')">
                                               field is required
                                           </div>
                                           <div *ngIf="adressUniv.hasError('minlength')">
                                               minlength
                                           </div>
                                       </div>
                                   </div>
                                 </div>

                                 
                                    <div>
                                       <div class="col-sm-4 mb-3">
                                          <label class="my-1 me-2" for="univCategories" class="form-label">Categorie University</label> 
                                          <select class="form-select" id="univCategories" aria-label="Default select example" [(ngModel)]="univ.univCategories" required #univCategories="ngModel" [ngClass]="{'is-valid':(univ.univCategories), 'is-invalid':(univ.univCategories)}">
                                             <option value="Etatique">Etatique</option>
                                             <option value="Privee">Privé</option>
                                          </select>
                                       </div>
                                 </div>
                             

                                            <div style="margin-top: 25px;">
                                               <button type="button" class="btn btn-outline-success mb-3" (click)="onSubmit()"> Update</button>&nbsp;&nbsp;
                                                <button  class= "btn btn-outline-warning mb-3" routerLink="/ListUniv"> Back</button>
                    
                                            </div>
                                        </form>
                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
