<h3>View Universities details</h3>
<div>
    <div>
        <label><b> university Name :</b></label> {{university.nomUniv}}
    </div>

    <div>
        <label><b> university Adress :</b></label> {{university.adresseUniv}}
    </div>

    <div>
        <label><b> university Phone number :</b></label> {{university.phoneUniv}}
    </div>

    <div>
        <label><b> university Email :</b></label> {{university.emailUniv}}
    </div>

    <div>
        <label><b> university categorie :</b></label> {{university.univCategories}}
    </div>

</div>
