<h3>View Universities details</h3>
<div>
    <div>
        <label><b> university Name :</b></label> {{university.UnivName}}
    </div>

    <div>
        <label><b> university Adress :</b></label> {{university.AdressUniv}}
    </div>

    <div>
        <label><b> university Phone number :</b></label> {{university.PhoneUniv}}
    </div>

    <div>
        <label><b> university Email :</b></label> {{university.emailUniv}}
    </div>

    <div>
        <label><b> university categorie :</b></label> {{university.CategorieUniv}}
    </div>

</div>
