<div class="py-4">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
       <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
             <a href="#">
                <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                </svg>
             </a>
          </li>
          <li class="breadcrumb-item"><a href="#">sponsor</a></li>
          <li class="breadcrumb-item active" aria-current="page">ajouter sponsor</li>
       </ol>
    </nav>
    <div class="d-flex justify-content-between w-100 flex-wrap">
       <div class="mb-3 mb-lg-0">
          <h1 class="h4">Sponsor</h1>
       </div>
    </div>
 </div>
 <div >
   <form [formGroup]="myForm" (ngSubmit)="save()" >
      <div class="form-group">
         <label for="nom">Nom</label>
         <input type="text" formControlName="nom" class="form-control" id="nom" placeholder="Enter nom de societé">
       </div>
       <div *ngIf="myForm.get('nom').invalid && myForm.get('nom').touched">
         <div *ngIf="myForm.get('nom').errors['required']" class="alert alert-danger" role="alert">
           Nom Obligatoire !
         </div>
         <div *ngIf="myForm.get('nom').errors['minlength']" class="alert alert-danger" role="alert">
          test
        </div>
        <div *ngIf="myForm.get('nom').errors['pattern']" class="alert alert-danger" role="alert">
           tous des lettres
        </div>
        </div>
           <div class="form-group">
           <label for="exampleInputEmail1">Email address</label>
           <input type="email" formControlName="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
           <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
         
         </div>
         <div *ngIf="myForm.get('email').invalid && myForm.get('email').touched">
            <div *ngIf="myForm.get('email').errors['required']" class="alert alert-danger" role="alert">
              Email est Obligatoire !
            </div>
           <div *ngIf="myForm.get('email').errors['pattern']" class="alert alert-danger" role="alert">
             la forme de votre email doit etre "xxxxx@gmail.com"
           </div>
           </div>

           <div class="mb-4">
            <label class="my-1 me-2" for="categorie">Categorie</label> 
            <select class="form-select" id="Categorie" aria-label="Default select example">
               <option selected="selected">Individuelle</option>
               <option value="1">Societé</option>
               <option value="2">Startup</option>
            </select>
         </div>
         <div *ngIf="myForm.get('categorie').invalid && myForm.get('categorie').touched">
            <div *ngIf="myForm.get('categorie').errors['required']" class="alert alert-danger" role="alert">
              categorie est Obligatoire !
            </div>
           </div>
               <div class="mb-3">
                      <label for="phone">Numéro téléphone</label>
                      <div class="input-group">
                         <span class="input-group-text" id="basic-addon1">
                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                               <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                            </svg>
                         </span>
                         <input type="text" class="form-control" formControlName="phone"  id="phone" placeholder="phone Number" aria-label="phone">
                      </div>
                </div>
                <div *ngIf="myForm.get('phone').invalid && myForm.get('phone').touched">
                  <div *ngIf="myForm.get('phone').errors['required']" class="alert alert-danger" role="alert">
                    Numéro téléphone est Obligatoire !
                  </div>
                  <div *ngIf="myForm.get('phone').errors['minLength']" class="alert alert-danger" role="alert">
                     le numéro de téléphone doit étre 8 numéro

                  </div>
                     <div *ngIf="myForm.get('phone').errors['maxLength']" class="alert alert-danger" role="alert" >
                        le numéro de téléphone doit étre 8 numéro

                     </div>
                  
                  
                  <div *ngIf="myForm.get('phone').errors['pattern']" class="alert alert-danger" role="alert">
                     le numéro de téléphone doit étre 8 numéro
                   </div>
                  
                 </div>
         <button type="submit"  class="btn btn-primary">Submit</button>


   </form>

</div>