<nav aria-label="breadcrumb" class="d-none d-md-inline-block py-4">
   <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
      <li class="breadcrumb-item">
         <a href="#" class="inactiveLink">
            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
            </svg>
         </a>
      </li>
      <li class="breadcrumb-item"><a href="#" class="inactiveLink">Membres</a></li>
      <li class="breadcrumb-item active" aria-current="page">Modifier Membre</li>
   </ol>
</nav>
 <div class="row">
    <div class="col-12 col-xl-8">
       <div class="card card-body border-0 shadow mb-4" >
          <h2 class="h5 mb-4 test2 col-4 ">Modifier Coordonnées</h2>
          <form class="form-group" [formGroup]="updatemembre" (ngSubmit)="updatememb()"  >
             <div class="row">
                <div class="col-md-6 mb-3">
                   <div><label for="first_name">Prénom</label> <input class="form-control "   type="text" placeholder="Enter your first name" id="prenom_M"  formControlName="prenom_M" [ngClass]="{'is-valid':updatemembre.get('prenom_M').valid&&updatemembre.get('prenom_M').touched,'is-invalid':updatemembre.get('prenom_M').invalid&&updatemembre.get('prenom_M').touched}">
                        <div *ngIf="updatemembre.get('prenom_M').invalid && updatemembre.get('prenom_M').touched" >
                              <div *ngIf="updatemembre.get('prenom_M').errors['required']" style="color:red">
                                 il faut que ce champ ne reste pas vide!
    
                              </div>
                              <div *ngIf="updatemembre.get('prenom_M').errors['pattern']" style="color:red">
                                 votre nom contient des chiffres ou des caractéres speciaux!

                              </div>
                              <div  *ngIf="updatemembre.get('prenom_M').errors['minlength']" style="color:red">
                                    Attention! minimum {{updatemembre.get('prenom_M').errors['minlength'].requiredLength}} ,
                                    vous tapez  {{updatemembre.get('prenom_M').errors['minlength'].actualLength}} characteres
                              </div>
                        </div>
                        <div *ngIf="updatemembre.get('prenom_M').valid&&updatemembre.get('prenom_M').touched" style="color:limegreen">
                           Cela somble bien !
                        </div>

                        

                  </div>
                </div>
                <div class="col-md-6 mb-3">
                   <div><label for="last_name">Nom</label> <input class="form-control"  type="text" placeholder="Also your last name"  id="nom_M"  formControlName="nom_M" [ngClass]="{'is-valid':updatemembre.get('nom_M').valid&&updatemembre.get('nom_M').touched,'is-invalid':updatemembre.get('nom_M').invalid&&updatemembre.get('nom_M').touched}"></div>
                   <div *ngIf="updatemembre.get('nom_M').invalid && updatemembre.get('nom_M').touched" >
                     <div *ngIf="updatemembre.get('nom_M').errors['required']" style="color:red">
                        il faut que ce champ ne reste pas vide!

                     </div>
                     <div *ngIf="updatemembre.get('nom_M').errors['pattern']" style="color:red">
                        votre nom contient des chiffres ou des caractéres speciaux!

                     </div>
                     <div  *ngIf="updatemembre.get('nom_M').errors['minlength']" style="color:red">
                           Attention! minimum {{updatemembre.get('nom_M').errors['minlength'].requiredLength}} ,
                           vous tapez  {{updatemembre.get('nom_M').errors['minlength'].actualLength}} characteres
                     </div>
               </div>
               <div *ngIf="updatemembre.get('nom_M').valid&&updatemembre.get('nom_M').touched" style="color:limegreen">
                  Cela somble bien !
               </div>
                           
                        
                     </div>
                    
                  
             </div>
             
            

                <div class="col-md-6 mb-3">
                   <div class="form-group"><label for="email">Email</label> <input class="form-control"  type="email" placeholder="name@mail.com" id="email" formControlName="email"> </div>
                     <div *ngIf="updatemembre.get('email').invalid&& updatemembre.get('email').touched" >
                           <div *ngIf="updatemembre.get('email')?.hasError('required')" style="color:red">
                              il faut que ce champ ne reste pas vide!

                           </div>
                           <div *ngIf="updatemembre.get('email')?.hasError('pattern')" style="color:red">
                                 invalid Email , il faut qu'il sout @gmail.com ou un email universitaitre tunisien
                           </div>
                     </div>
                     <div *ngIf="updatemembre.get('email').valid && updatemembre.get('email').touched" style="color:limegreen">
                        Cela somble bien !

                     </div>
                  </div>

                <div class="col-md-6 mb-3">
                   <div class="form-group"><label for="phone">Numero de telephone</label> <input class="form-control" id="phone" type="tel" placeholder="+216 12345678" id="num_M" formControlName="num_M" ></div>
                     <div *ngIf="updatemembre.get('num_M').invalid && updatemembre.get('num_M').touched" >
                           <div *ngIf="updatemembre.get('num_M')?.hasError('required')" style="color:red">
                              il faut que ce champ ne reste pas vide!

                           </div>
                           <div *ngIf="updatemembre.get('num_M')?.hasError('pattern')" style="color:red">
                                 Numero invalid!
                               Nb:uniquement les numero de telephones tunisiens sont acceptés : OrangeTN,Ooreedo,TT
                           </div>
                     </div>
                  </div>
            
               
            <!-- <div class="col-sm-4 mb-3">
                <label for="state">Club</label> 
                <select class="form-select w-100 mb-0" id="clubassignedto"  aria-label="State select example"   formControlName="club_nom">
                  <option   disabled="disabled" [value]="null">Choisir Club</option>
                     
                  <option *ngFor="let nomclub123 of nomdeclubs" [value]="nomclub123">
                     {{nomclub123}}
                 </option>

                
                </select>
               
                
             </div>-->
            
             <div class="col-sm-4 mb-3">
               <label for="state">Position dans le Club</label> 
               <select class="form-select w-100 mb-0" id="state" name="state" aria-label="State select example" formControlName="role" >
                  <option value="President">President</option>
                  <option value="Staff">Staff</option>
                  <option value="Membre" >Membre</option>
                  
               </select>
              
            </div>
            <button  type="submit" class="btn btn-secondary mb-3"  [disabled]="updatemembre.invalid">Modifier</button>

                <!--club list-->
                  <!--modifier membre
                  <div class="col-lg-4">
                     <button  type="button" class="btn btn-block btn-gray-800 mb-3" data-bs-toggle="modal" data-bs-target="#modal-default" >Save</button>
                     <div  class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h2 class="h6 modal-title">Comfirmation</h2>
                                 <button type="button" id="sub-1" value="sub-1"class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body display" style="text-align:center">
                                       <p style=><span >nom :</span>{{membre.nom_M}}
                                       <p style=><span >prenom :</span>{{membre.prenom_M}}
                                       <p style=><span >Email :</span>{{membre.email}}
                                       <p style=><span >num tel :</span>{{membre.num_M}}
                                          <p style=><span >Role :</span>{{membre.role}}

                                   <p style="font-size: larger;text-align:center">et l'assigner a club:</p>
                                 <p style="color:green;text-align: center;">{{clubassignedto}}</p> 
                                
                              </div>
                              <div class="modal-footer"><button  id="sub-2" value="sub-2" class="btn btn-secondary" type="submit"  >Accept</button> <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Close</button></div>
                           </div>
                        </div>
                     </div>
                  </div>
               -->
                  <!--endadd-->
          </form>
       </div>
      
       <div >
         <router-outlet ></router-outlet>
       </div>
    </div>
    <div class="col-12 col-xl-4">
       <div class="row">
          <div class="col-12 mb-4">
                     
                          <div class="card-container">
                             <span class="pro">Details</span>
                             <img class="round" src="../../../assets/img/download2.png" alt="user" />
                             <h3 style="text-transform:capitalize;">{{membre.nom_M}} {{membre.prenom_M}}</h3>
                             <h6 class="e9ef">{{membre.email}}</h6>
                             <h6 class="e9ef">{{membre.num_M}}</h6>
                             <h6 class="e9ef">{{membre.club.nomdeclub}}</h6>
                             <h6 style="margin-top: 1rem;" [ngStyle]="{'color':getcolor(membre.role)}">{{membre.role}}</h6>
                             
           
                             <div class="buttons">
                               <button style="margin-top: 2rem;" class="primary"  type="button" style="margin-bottom: 1rem;"  routerLink="/membre/modifier/{{membre.id_M}}/tests">
                                 Mail history
                               </button>
                               <button class="primary ghost"  data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-bottom: 1rem;">
                                sendmail
                              </button>
                              
                             </div>
                       </div>
                    
                    
                  </div>
               </div>
            </div>
         
         
       </div>

 
 
       <app-mail [maile]="membre.email"></app-mail>
