<h2>University list</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>University ID</th>
            <th>University name</th>
            <th>University Email Adress</th>
            <th>University Phone number</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let university of universities">
            <td> {{university.UnivId}}</td>
            <td> {{university.UnivName}}</td>
            <td> {{university.emailUniv}}</td>
            <td> {{university.PhoneUniv }}</td>
            <td>
                <button type="button" (click)= "UpdateUniversity(university.UnivId)" class="btn btn-info btn-gray-800 mb-3" data-bs-toggle="modal" data-bs-target="#modal-default"> Update </button>  
                <button type="button" (click)= "deleteUniversite(university.UnivId)" class="btn btn-danger btn-red-800 mb-3" style="margin-left: 10px ;"  data-bs-toggle="modal" data-bs-target="#modal-default"> Delete </button> 
                <button type="button" (click)= "detailsUniversite(university.UnivId)" class="btn btn-info mb-3 " style="margin-left: 10px ;"  data-bs-toggle="modal" data-bs-target="#modal-default"> Details </button>   
            </td>

        </tr>

    </tbody>
</table>