
    <ul class="flex-column nav">
       <li class="nav-item"><a class="nav-link" [routerLink]="['/listevent']"><span class="sidebar-text">listes Evenements</span></a></li>
       <li class="nav-item"><a class="nav-link" [routerLink]="['/addevent']"><span class="sidebar-text">ajouter Evenement</span></a></li>
       <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/updateevent']"><span class="sidebar-text">modifier Evenement</span></a></li>
       <li class="nav-item"><a class="nav-link" [routerLink]="['/eventdelete']"><span class="sidebar-text">supprimer Evenement</span></a></li> -->
    </ul>

<!--<router-outlet></router-outlet>-->