
       

<form #f="ngForm"  (ngSubmit)="updateForm()" >
  
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control"  [(ngModel)]="S.id" #id="ngModel" [ngModelOptions]="{standalone: true}" required>
  </div>
   <div class="alert alert-danger" role="alert" *ngIf="id.errors?.['required']&& id.touched">
    l'id  est Obligatoire
  </div> 
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email"  class="form-control"  aria-describedby="emailHelp"  [(ngModel)]="S.email" #email="ngModel" [ngModelOptions]="{standalone: true}" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
       <div class="alert alert-danger" role="alert" *ngIf="email.errors?.['required']&& email.touched">
        l'email est Obligatoire
      </div> 
      <div class="mb-4">
        <label class="my-1 me-2" >Categorie</label> 
        <select class="form-select" id="categorie" aria-label="Default select example"  [(ngModel)]="S.categorieSponsor" #categorieSponsor="ngModel" [ngModelOptions]="{standalone: true}" required>
           <option selected="selected">Individuelle</option>
           <option value="1">Societé</option>
           <option value="2">Startup</option>
        </select>
     </div>
     
       <div class="alert alert-danger" role="alert"*ngIf="categorieSponsor.errors?.['required']">
        la categorie est obligatoire
      </div> 
      <div class="mb-3">
        <label for="phone">Numéro téléphone</label>
        <div class="input-group">
           <span class="input-group-text" id="basic-addon1">
              <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                 <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
              </svg>
           </span>
           <input type="text" class="form-control"  aria-label="phone" [(ngModel)]="S.phone" #phone="ngModel" [ngModelOptions]="{standalone: true}" required>
        </div>
  </div>
      <div class="alert alert-danger" role="alert" *ngIf="phone.errors?.['pattern']">
        le numéro doit étre 8 chiffre
      </div>
  
   <div class="col-12">
    <input class="btn btn-success" type="submit" value="modifier"  [disabled]="f?.invalid">
  </div>
  
  
   
</form>
